@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Gloria+Hallelujah&display=swap');

.navbar{
    background-color: rgb(29, 27, 38);
    display: flex;
    justify-content: right;
    padding: 10px;
    align-items: center;
    user-select: none;
}

.logo{
    margin-right: auto;
}
.logo img{
    width: 100px;
    pointer-events: none;
}
.navbar_links{
    margin-right: 20px;
    display:flex;
}
.nav_btn{
    font-family: var(--font);
    font-weight: 400;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background: gray;
    border-radius: 30px;
    margin-left: 10px;
    font-size: 23px;
    text-decoration: none;
    color: white;
}

.nav_btn:hover{
    background: white;
    color: black;
    cursor: pointer;
}